//Social Icon Styles
.social-icon-replace {
    max-width: $social-icon-width;
    max-height: $social-icon-height;
    width: 100%;
    height: 100%;
}

.social-media-accounts {
    margin-bottom: 0;

    li svg {
        min-height: $font-size-lg;
        height: var( --#{$prefix}social-icon-size );
    }
}