
//
// BS Defaults Overrides
//

//OPTIONS
$enable-rounded:  false;

$variable-prefix: bric-; 


//TYPOGRAPHY
$font-family-sans-serif: "Monteserrat", sans-serif;
$font-family-base: $font-family-sans-serif;

$lead-font-weight: 300;



//BUTTONS


//NAVBAR
$navbar-color: $black !default;
$navbar-active-color: rgba( $black, .9 ) !default;

//$navbar-active-color: $primary !default;
$navbar-light-color: $navbar-color !default;
$navbar-dark-color: $navbar-color !default;
$navbar-light-active-color: $navbar-active-color !default;
$navbar-dark-active-color: $navbar-active-color !default;

//PAGE HEADER
$page-header-min-height: 25vw !default;



//Currently not a BS variable, only our own. We need to re-write
//the utilities we want to use these values in our utilties map (bric-vairables file)
$opacities: (
    10: .1,
    25: .25,
    50: .5,
    62: .62,
    75: .75,
    100: 1
) !default;

