//
//		Header Carousel
//

body.has-header-carousel {
	
	.main-content {
		margin-top: 0;
	}
	
	
	.main-content > .row {
		display:block;
	}
}


.carousel.edge-to-edge {
	@include make-col(12);
	//width: 100%;
	//left:calc( 50% - 50vw );
	margin-bottom: 3em;
	display:flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	
	.carousel-inner {
		flex: 0 0 auto;
			
	}
	
	.carousel-item {
		
		img {
			min-width: 100%;
			min-height: 100%;
			max-width: 100%;
			max-height: 100%;
			object-fit: cover;
							
		}
	}
}



//Make Carousel Flex
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
    display: flex;
	flex-direction: column;
	justify-content: center;
}


/*
.carousel-fade {
   
	.carousel-inner {
		
        .carousel-item {
			opacity: 0;
			transition-duration: .6s;
			transition-property: opacity;        
		}
		
		.carousel-item.active,
		.carousel-item-next.carousel-item-left,
		.carousel-item-prev.carousel-item-right {
		  opacity: 1;
		}

		.active.carousel-item-left,
		.active.carousel-item-right {
		 opacity: 0;
		}

		.carousel-item-next,
		.carousel-item-prev,
		.carousel-item.active,
		.active.carousel-item-left,
		.active.carousel-item-prev {
			transform: translateX(0);
			transform: translate3d(0, 0, 0);
		}		
		
		
    }

    .carousel-control {
        z-index: 2;
    }
	
}

*/


.carousel-caption {
	strong {
		display: block;
		font-weight: bold;
	}
}

.object-fit-fallback {
    background-position: center;
    background-size: cover;
	
	img {
		opacity: 0;
	}
}


.carousel {
	
	.img-wrapper {
		position: relative;		
		overflow: hidden;
		position: relative;
		background-color: $gray-100;
		display: flex;
		flex-direction: column;
		align-content: center;
		align-items: center;
		justify-content: center;	
		flex: 1 0 auto;
		//padding-top: 40%;
		//min-height: 600px;
		
		
		&.has-copy {
			
			img {
				position: absolute;
				z-index: 0;
				top: 50%;
				transform: translateY(-50%);
			}
			
			.copy {
				position: relative;
				top:0;
				bottom: 0;
				z-index: 1;
			}
		}
	}
	
	.copy {
		padding: 6rem 1rem;
	}
	
	
	img {
		width: 100%;
		height: auto;
	}
	
	
}