//
//  BRIC EXTRA COLORS
//

$theme-colors-custom: (
    "tertiary": $tertiary,
    "quaternary": $quaternary
);



//
//	BRIC VARIABLES
//
$excerpt-image-ratio: 9/16 !default;
$social-icon-spacing: $spacer/2 !default;

$page-header-margin-bottom: 1rem !default;

$slideout-width: 256px !default;

//
//  Gravity Forms
//
$margin-below-field: $spacer !default;
//
//  Social Icon Replace
//
$social-icon-height: $font-size-lg !default;
$social-icon-width: $font-size-lg !default;




//
//  NEW THEME CUSTOMIZER
//
$blocks-margin-bottom: 3.75rem;
$headings-margin-top: 6rem;
$columns-margin-bottom: $blocks-margin-bottom;
$nav-link-active-underline-width: 45px;
$list-group-item-font-weight: $font-weight-bold !default;

//
//  CUSTOMIZE BOOTSTRAP
//
@if variable-exists( navbar-active-color ) {

    $navbar-dark-active-color: $navbar-active-color;
    $navbar-light-active-color: $navbar-active-color;

}


//FONTS
$font-weight-bolder: $font-weight-bold;



//Utilities
$utilities: (
    "bg-image-no-repeat": (
        property: background-repeat,
        class: bg-image,
        values: no-repeat
    ),
    "bg-position": (
        property: background-position,
        class: bg-position,
        values: (
            center: center center,
            center-left: center left,
            center-right: center right,
            top-left: top left,
            top-right: top right,
            top-center: top center,
            bottom-left: bottom left,
            bottom-right: bottom right,
            bottom-center: bottom center
        )
    ),
    "bg-size" : (
        property: background-size,
        class: bg-size,
        values: (
            contain: contain,
            cover: cover,
            a-100: auto 100%
        )
    ),
    "bg-opacity": (
      css-var: true,
      class: bg-opacity,
      values: $opacities
    )

);

//NAVBAR
//$navbar-color: $black !default;
//$navbar-active-color: rgba( $black, .9 ) !default;

//$navbar-active-color: $primary !default;
@if variable-exists( navbar-color ) {
   
    $navbar-light-color: $navbar-color;
    $navbar-dark-color: $navbar-color;
    
}

@if variable-exists( navbar-active-color ) {

    $navbar-light-active-color: $navbar-active-color;
    $navbar-dark-active-color: $navbar-active-color;

}






//MAPS

@if variable-exists( theme-colors-custom ) {

    $theme-colors: map-merge( $theme-colors, $theme-colors-custom );

}