//Social Icon Styles
.social-icon-replace {
    max-width: $social-icon-width;
    max-height: $social-icon-height;
    width: 100%;
    height: 100%;
}

.social-media-accounts {

    li svg {
        min-height: $font-size-lg;
    }
}