//
//		NAvbar/Menu Fixes
//
.dropdown-menu {
    margin: 0 !important; //fix for hover 
}

.slideout-menu {
    .dropdown-menu .nav-link,
    .dropdown-toggle {
        white-space: normal;
    }
    .nav-link {
        text-align: left;
    }
}

.navbar-brand {
    flex-shrink: 0;
    img, svg {
        @extend .img-fluid;
    }
}

.navbar {
    flex-wrap: nowrap;
  
    .right-side {
        display: flex;
        flex-direction: column;
        flex-basis: auto;
        .navbar-collapse {
            flex-basis: auto;
        }
        .navbar-toggler {
            //max-width: 58px;
            align-self: flex-end;
        }
    }

   
    &.has-left-side {
        .right-side {
            @include media-breakpoint-up( 'md') {
                flex-basis: auto;
                margin-left: auto;
            }
        }
        .left-side {
            flex-basis: auto;
            margin-right: auto;
        }
    }
}

.navbar-nav {
    margin-right: $navbar-padding-y * -1;
}


.nav-link.active {
    position: relative;
}

.active-style-underline {

    .nav-link.active {
        
        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            width: $nav-link-active-underline-width;
            height: $border-width;
            background-color: var( --#{$variable-prefix}primary );
        }
    }
}



.active-style-bold {

    .nav-link.active {
        font-weight: bold;
    }
}






//
//		Handle width when bold on hover
//
.nav-link {
    &:before {
        display: block;
        content: attr(data-text-content);
        font-weight: bolder;
        height: 0;
        overflow: hidden;
        visibility: hidden;
    }
}






//
//		Don't let phone numbers break
//
a[href^="tel:"] {
    word-break: keep-all;
}