
//
// BS Defaults Overrides
//

//OPTIONS
$enable-rounded:  false;

$variable-prefix: bric-; 


//TYPOGRAPHY
$font-family-sans-serif: "Monteserrat", sans-serif;

$lead-font-weight: 300;


//BUTTONS
$btn-border-width: 3px;

