
//
// BS Defaults Overrides
//

//OPTIONS
$enable-rounded:  false;

$variable-prefix: bric-; 


//TYPOGRAPHY
$font-family-sans-serif: "Monteserrat", sans-serif;
$font-family-base: $font-family-sans-serif;

$lead-font-weight: 300;


//BUTTONS


//NAVBAR
//$navbar-active-color: $primary !default;




