body {
  width: 100%;
  height: auto; //did this for sticky header
}



//
//		SLIDEOUT PANEL
//

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: scroll;
	overflow-x:hidden;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
	padding: 1em;
	
	.dropdown-menu {
		position:relative;
		display:block;
		top:0;
		border:none;
		
		ul {
			li {
				margin-left:.75em;
			}
		}
		
		.menu-item {
			
			a {
				padding:.25em 0;
			}
		}
	}
    
    .navbar-nav {
        padding-bottom: $spacer*2;
    }
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
    position: relative;
    z-index: 1;
    // will-change: transform;
    background-color: transparent;
    min-height: 100vh;
    box-shadow: 1px -10px 10px 0px rgba($gray-600, .75);
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}