# ignore Mac OS X Desktop Service Store
.DS_Store
 
#ignore all .txt files
*.txt

#ignore node_modules
node_modules/

#ignore compiled css/js
assets/css/
assets/js/

#ignore DWSYNC
_notes/dwsync.xml
_notes/*