# ignore Mac OS X Desktop Service Store
.DS_Store
 
#ignore all .txt files
*.txt

#ignore node_modules
node_modules/
package-lock.json

#ignore DWSYNC
_notes/dwsync.xml
_notes/*

#ignore Vendor
#vendor/