@import "functions";


@import "variables";
@import "bric-bs-variables";
@import "bric-variables";




@import "mixins";
@import "bric-mixins";
@import "utilities";



.wp-block-button {

    &.is-style-outline {
    
        > a {
           border-color: var( --#{$variable-prefix}primary );
        }
    }
    
}
    


a {
    color: var( --#{$variable-prefix}link-color );
    text-decoration: var( --#{$variable-prefix}link-decoration );

    &:hover {
        color: var( --#{$variable-prefix}link-hover-color );
        text-decoration: var( --#{$variable-prefix}link-hover-decoration );
    }

}


h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-family: var( --#{$variable-prefix}headings-font-family );
    font-weight: var( --#{$variable-prefix}headings-font-weight );
}



.active-color {


    @each $color, $value in $theme-colors {

        &-#{$color} {
            
            a.active {
                color: var( --#{$variable-prefix}#{$color} ) !important;
            }
        }
    }


}


.navbar .navbar-nav {

    .nav-link {
        padding-left: var( --#{$variable-prefix}navbar-nav-link-padding-x );
        padding-right: var( --#{$variable-prefix}navbar-nav-link-padding-x );
    }




}





