
//Button container
.wp-block-buttons {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

[class^="wp-container"] {
    .wp-block-button {
        @extend .col-auto;
    }
}

/*
.wp-block-button {

    > a {
        //@extend .btn;
        //text-transform: uppercase;
        //color: var( --#{$variable-prefix}dark ) !important;

    }

    &.is-style-outline {

        > a {
            //@extend .btn-outline-primary;
            @include button-outline-variant($primary);
            border-width: var( --#{$variable-prefix}btn-border-width );


            @each $key, $color in $utilities-text {
                &.text-#{$key} {
                   --#{$prefix}btn-border-color: rgb( #{$color} );
                }
            }
        }
    }


    &.is-style-fill {

        > {
            @extend .btn-primary;
        }
    }


    .btn {

        @each $key, $color in $theme-colors  {

            &.has-#{$key}-background-color {
                @extend .btn-#{$key};
            }

        }

    }

}

*/