//OOTB WP Gallery Block Styling



.wp-block-gallery {
    justify-content: center;

    > figure {
        padding: $spacer *2;
    }

}



.logo-gallery {


    figure {
        max-height: 250px;
        display:flex;

        img {
            @extend .img-fit, .img-contain;
        }
    }


}