//OOTB WP Gallery Block Styling




//
//      WP BLOCK GALLERY
//
$max_columns: 8;


.wp-block-gallery {
    justify-content: center;
    flex-wrap: wrap;

    .wp-block-image {
        padding: $spacer;
    }

    &.is-cropped {
        
        .wp-block-image {

            img {
                display: block;
                @extend .img-fit, .img-cover;
            }
        }
    }


    @include media-breakpoint-up( md ) {
        @while ( $max_columns > 0 ) {

            &.columns-#{$max_columns} {

                .wp-block-image {
                    flex-basis: 100% / $max_columns;
                }
            }


            $max_columns: $max_columns - 1;
        }
    }


}





.logo-gallery {


    figure {
        max-height: 250px;
        display:flex;

        img {
            @extend .img-fit, .img-contain;
        }
    }


}