.heading-wrapper {

    h2, .h2 {
        text-transform: $heading-transform;
        margin-top: $headings-margin-top;
        margin-bottom: $blocks-margin-bottom;
        position: relative;
        
        
        &:after {
            content:"";
            position: absolute;
            right: 0;
            bottom:-1rem;
            width: 100vw;
            border-bottom: var( --#{$variable-prefix}border-width ) solid var( --#{$variable-prefix}primary ); //write in border thickness
        }


        &.right-side {
            text-align: right;

            &:after {
                right:auto;
                left:0;
            }
        }

    }

}




.entry-title,
.wp-block-post-template .wp-block-post-title {
    text-transform: $heading-transform;
}